* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FCEFFF;
  font-family: "Nunito", sans-serif;
}

.user__email,
.user__name {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.user__name {
  margin-top: 45px;
}

.body {
  max-width: 90%;
  border-radius: 10px;
  margin: 15px auto;
  min-height: 50vh;
  background-color: #fff;
  padding: 15px;
}

.table {
  width: 100%;
  margin: 15px 5px;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px 0;
  border-collapse: collapse;
}

.table td {
  padding: 5px;
}

.table td:not(:last-child) {
  border-right: 1px solid #999;
}

.table td:first-child {
  width: 100px;
}

.table tr {
  border: 1px solid #999;
}

.table td {
  text-align: center;
  padding: 10px;
}

.td__cont {
  padding: 10px;
}

.td__cont > div {
  margin: 15px;
}

.td__cont--period {
  background-color: palevioletred;
}

.td__cont--payment {
  background-color: lightgreen;
}

.logout {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: #fff;
  padding: 10px 15px;
}

.td__cont--end_of_month {
  height: 80px;
}


